/* Style the header */
h1 {
    font-family: 'Marcellus SC', serif;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

/* Style the header background */
.jumbotron {
    background-image: url("images/disneybackground.jpg");
    background-size: cover;
    border-bottom: 3px solid black;
}

/* Style the font of the subheading in the jumbotron */
.jumbotron p  {
    font-family: 'Markazi Text', serif; 
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 25px;
    border: none;
}

/* Style the font of the webpage (other than the header) */
.row {
    font-family: 'Markazi Text', serif;
    font-size: 20px;
}

/* Style for the container holding the gifs */
#gif-view {
    padding-top: 5px;
    padding-bottom: 10px;
}

/* Style the buttons */
button {
    border: 1px solid rgb(1, 1, 73);
    border-radius: 6px;
    margin: 1px;
    background-image: linear-gradient(to bottom right, rgb(238, 129, 162), rgb(99,81,169));
}

/* Style the buttons on hover */
button:hover {
    background-image: linear-gradient(to bottom right, rgb(99,81,169), rgb(238, 129, 162));
}

/* Style the selected button */
button.selected {
    background-image: linear-gradient(to bottom right, rgb(99,81,169), rgb(238, 129, 162));
    font-weight: bold;
}

/* Style the gif ratings */
p {
    display: inline-table;
    border: 1px solid black;
    border-radius: 6px;
    margin-right: 1px;
}

/* Style the gifs */
.gif {
    border: 1px solid black;
    border-radius: 6px;
    margin-top: 3px;
    text-align: center;
    margin-right: 1px;
}

/* Below code makes a sticky footer */
body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    padding-bottom: 2px;
}

.push .footer {
    height: 30px;
}

/* Styling for the footer text */
.footer {
    text-align: right;
    padding-bottom: 1px;
    padding-right: 5px;
    background: rgb(1, 1, 73);
    color: white;
    padding-top: 5px;
    font-family: 'Markazi Text', serif;
}

/* Background for the body of the webpage */
.wrapper {
    background-image: linear-gradient(to bottom right, rgb(238, 129, 162), rgb(99,81,169));
}

/* Form background & gif view background opacity when populated with gifs */
.border {
    background: rgb(255, 255, 255, 0.2);
}

#instructions {
    text-align: center;
    padding-top: 5px;
    font-weight: bold;
    font-size: 25px;
}
